---
import { Picture } from "@astrojs/image/components";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

type Props = {
	title: string;
	path: string;
	theme: "dark" | "light";
};

const { title, path, theme = "light" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="h-full overflow-hidden accent-indigo-800">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="index, follow" />
		<meta name="language" content="English" />
		<meta name="theme-color" content="#3730a3" />
		<meta name="title" content={`${title} | uORocketry`} />
		<meta name="author" content="uORocketry" />
		<meta
			name="description"
			content="uOttawa's student engineering team that designs, manufactures, and launches high-powered sounding rockets!"
		/>
		<meta name="keywords" content="uOttawa, Rocketry, Student, Engineering, Rocket, University of Ottawa" />

		<title>{title} | uORocketry</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffffff" />
		<meta name="msapplication-TileColor" content="#ffffff" />
		<meta name="theme-color" content="#ffffff" />

		<meta property="og:title" content={`${title} | uORocketry`} />
		<meta property="og:site_name" content="uORocketry" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:url" content="https://uorocketry.ca" />
		<meta
			property="og:description"
			content="uOttawa's student engineering team that designs, manufactures, and launches high-powered sounding rockets!"
		/>
		<meta property="og:type" content="website" />
		<meta property="og:image" content="https://uorocketry.ca/images/desert-sunrise.webp" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@uORocketry" />
		<meta name="twitter:creator" content="@uORocketry" />
		<meta name="twitter:title" content={`${title} | uORocketry`} />
		<meta
			name="twitter:description"
			content="uOttawa's student engineering team that designs, manufactures, and launches high-powered sounding rockets!"
		/>
		<meta name="twitter:image" content="https://uorocketry.ca/images/desert-sunrise.webp" />
	</head>
	<body
		class={`relative m-auto flex h-full scroll-behavior-smooth overflow-auto flex-col ${
			theme === "dark" ? "text-white bg-gray-900" : "text-gray-900 bg-white"
		}`}
	>
		<Navbar active={path} theme={theme} />
		<Picture
			class={`fixed inset-0 object-cover h-full w-full -z-10 ${
				theme === "dark" ? "filter brightness-50 blur opacity-50" : ""
			}`}
			src={"/images/desert-sunrise.webp"}
			widths={[200, 400, 800]}
			sizes="(min-width: 640px) 640px, 100vw"
			alt="Desert Sunrise"
			aspectRatio={"16:9"}
			fit={"cover"}
			position={"center"}
		/>
		<slot />
		<Footer theme={"dark"} />
	</body>
</html>

<style is:global>
	::-webkit-scrollbar {
		@apply w-2 bg-transparent;
	}

	::-webkit-scrollbar-thumb {
		@apply rounded bg-indigo-100/25;
	}

	::-webkit-scrollbar-thumb:hover {
		@apply bg-indigo-100/50;
	}

	::-webkit-scrollbar-thumb:active {
		@apply bg-indigo-100;
	}
</style>
